@model COMP003B.Assignment3.Models.EventRegistration;

@{
    ViewData["Title"] = "Event Registration";
    Layout = "_Layout"; 
}

<div>
    <h2 style="text-align: center;">Event Registration</h2>

    <form>
        <div>
            <label for="FullName">Your Name:</label>
            <input asp-for="FullName" type="text">
            <span class="error-message"></span> 
        </div>

        <div>
            <label>Email:</label>
            <input asp-for="EmailAddress" type="email"> 
            <span asp-validation-for="EmailAddress"></span>
        </div>
        <div>
            <label>Event Code:</label>
            <input asp-for="EventCode">
        </div>

        <div>
            <label>How many tickets?</label>
            <input asp-for="Tickets" type="number" min="1" max="10"> 
        </div>

        <div>
            <label>Got a referral code?</label>
            <input name="ReferralCode"> 
        </div>



    </form>
</div>
